/* General Body Styles */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  /* Ensures the body takes up the full viewport height */
    background-color: #f4f4f4;
}

/* Container to hold all sections */
.container {
    display: grid;
    grid-template-rows: 10vh 20vh 60vh 10vh;
    grid-template-columns: 30% 70%;
    width: 100vw;  /* Ensures the container width fills the full screen */
    height: 100vh; /* Ensures the container height fills the full screen */
    gap: 0; /* Remove the gap between grid items */
    box-sizing: border-box; /* Ensures padding and border don't affect layout */
}

/* Menu Section */
#menu {
    grid-column: 1 / 3;
    background-color: #bdb76b;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

/* Header Section */
#header {
    grid-column: 1 / 3;
    background-color: #00ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

/* Sidebar Section */
#sidebar {
    background-color: #8a2be2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

/* Content Section */
#content {
    background-color: #d26913;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

/* Footer Section */
#footer {
    grid-column: 1 / 3;
    background-color: #ffd700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

/* Responsive Styles */
@media(max-width: 600px){
    .container {
        grid-template-rows: repeat(5, 30vh);
        grid-template-columns: 100%;
    }

    #sidebar, #content {
        width: 100%;
    }
}
